<!doctype html>
<html lang="zh-CN">
<head>
    <include file="include/head" title="商品详情" />
</head>

<body>
	<div class="header-blank"></div>
    <div class="header">
		商品详情
		<span class="left">
			<a href="javascript:;" onclick="window.history.go(-1)"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
		</span>
	</div>
	
	<div class="product-main">
		<div class="product-pic">
			<img src="{$info.pic}" />
		</div>
		<div class="product-title">{$info.title}</div>
		<div class="product-price">
			<span class="color-main font-price" id="price">￥{$info.price}</span>
			<span class="font-tip color-gray pd-l20">市场价:<s>￥{$info.market_price}</s></span>
		</div>
	</div>
	<div class="product-body-title mt8">
		<div class="product-body-title-box color-main">图文详情</div>
	</div>
	<div class="product-body">
		{$info.body}
	</div>
	
	<div class="product-footer-blank"></div>
	<div class="product-footer">
		<if condition="$_CFG['site']['tel'] neq ''">
		<a class="left" href="tel:{$_CFG.site.tel}" >
			<span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
			客服
		</a>
		</if>
		<a class="left" href="{:U('Index/cart')}">
			<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
			购物车
		</a>
		<button  onclick="add_to_cart(1);" class="buyBtn-go">立即购买</button>
		<button onclick="add_to_cart();" class="buyBtn-cart">会员免费</button>
	</div>
	
	<!--模态框-->
	<div class="modal fade" id="tips">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">操作提示</h4>
		  </div>
		  <div class="modal-body">
			<p>产品已添加到购物车</p>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-warning" data-dismiss="modal">继续购物</button>
			<button type="button" class="btn btn-danger" onclick="location.href='{:U("Index/cart")}'">立即结算</button>
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<script>
		function add_to_cart(gopay)
		{
		    console.log("dfefdfsfsf");
		    console.log(gopay);
			var nums = 1;
			
			$.post("{:U('Index/add_to_cart')}",{product_id:{$info.id}, nums:nums},function(d){
				if(d.status == 1){
				    console.log(gopay);
					if(gopay == 1) {
					    console.log("ddddd");
					    window.location.href = "{:U('Index/cart_edit')}";
					} else {
                        $("#tips").modal();
					}
				}else{
					alert(d.info);
				}
			});
			
		}
	</script>

</body>
</html>